{{#each itemController="entry"}}
  <article class="entry">
    <div class="timestamp">{{created_at}}</div>
    <div {{bind-attr class="subedit:editing"}}>
      {{#if subedit}}
        {{edit-entry-subject class="edit" value=subject insert-newline="acceptChanges"}},
      {{else}}
        {{subject}}
      {{/if}}
      <button {{action 'subedit'}} class="button">
        {{#if subedit}}
          finish
        {{else}}
          edit
        {{/if}}
      </button>
      <button {{action 'expunge'}} class="button">
        delete
      </button>
    </div>
    <div {{bind-attr class="truncated:truncate"}}>
      <p>{{entry}}</p>
    </div>
    {{#if truncated}}
      <button {{action 'expand'}}>expand</button>
    {{else}}
      <button {{action 'contract'}}>contract</button>
    {{/if}}
  </article>
  <hr />
{{/each}}
