<div id="entry_{{id}}" class="full-entry">
  <div class="timestamp small">{{formatDate created_at}}</div>
  <div class="subject">{{subject}}</div>
  <div class="topics small"><strong>Topics</strong>: {{topicList}}</div>
  <div class="actual-entry">
    {{{entry}}}
  </div>
</div>
