<article id="entry_{{id}}" class="full-entry">
  <div class="timestamp">{{created_at}}</div>
  <div class="subject">{{subject}}</div>
  <div class="topics">Topics: {{topics}}</div>
  <div class="entry">
    {{{entry}}}
  </div>
</article>
