  <article class="entry">
    <div class="timestamp small">{{formatDate created_at}}</div>
    <div class="subject">
      {{subject}}
      <span class="permalink small">{{#link-to 'entry' lepra}}leperlink{{/link-to}}</span>
    </div>
    <div class="topics small"><strong>Topics</strong>: {{topicList}}</div>
    <div class="actual-entry">
      {{#if bloated}}
        <span class="pull-right">{{{entry}}}</span>
      {{else}}
        {{truncated}}
      {{/if}}
    </div>
    {{#if bloated}}
      <button type="button" class="btn btn-primary btn-xs" {{action 'bloat'}}>contract</button>
    {{else}}
      <button type="button" class="btn btn-info btn-xs" {{action 'bloat'}}>expand</button>
    {{/if}}
  </article>
  <hr />
