  <article class="entry">
    <div class="timestamp">{{created_at}}</div>
    <div class="subject">
      {{#link-to 'entry' id}}{{subject}}{{/link-to}}
    </div>
    <div class="topics">Topics: {{topicList}}</div>
    <div class="entry">
      {{#if bloated}}
        {{{entry}}}
      {{else}}
        {{truncated}}
      {{/if}}
    </div>
    {{#if bloated}}
      <button {{action 'bloat'}}>contract</button>
    {{else}}
      <button {{action 'bloat'}}>expand</button>
    {{/if}}
  </article>
  <hr />
