  <article class="entry">
    <div class="timestamp small">{{formatDate created_at}}</div>
    <div class="subject">
      {{#link-to 'entry' lepra}}{{subject}}{{/link-to}}
    </div>
    <div class="topics small"><strong>Topics</strong>: {{topicList}}</div>
    <div class="actual-entry">
      {{#if bloated}}
        {{{entry}}}
      {{else}}
        {{truncated}}
      {{/if}}
    </div>
    {{#if bloated}}
      <button type="button" class="btn btn-primary btn-xs" {{action 'bloat'}}>contract</button>
    {{else}}
      <button type="button" class="btn btn-info btn-xs" {{action 'bloat'}}>expand</button>
    {{/if}}
  </article>
  <hr />
